@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Lobster&family=Pacifico&family=Poppins&display=swap');
*{
    padding:0;
    margin:0;
}
.main{
    display: flex;
    font-size: 50px;
    background-image: url(tictactoe.jpg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:100vh;
}
h1{
    font-size: 50px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 50px;
    padding: 10px;
    color:black;
    border:2px black solid;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.link{
    height:60px;
    width:200px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid black;
    background-color:rgb(247, 105, 176);
    font-size: 30px;
    font-weight: 600;
    font-style:italic;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: black;
}

